@import url(https://fonts.bunny.net/css?family=cutive-mono:400|montserrat:400|vt323:400);

:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --primary-glow: conic-gradient(
    from 180deg at 50% 50%,
    #16abff33 0deg,
    #0885ff33 55deg,
    #54d6ff33 120deg,
    #0071ff33 160deg,
    transparent 360deg
  );
  --secondary-glow: radial-gradient(
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  );

  --tile-start-rgb: 239, 245, 249;
  --tile-end-rgb: 228, 232, 233;
  --tile-border: conic-gradient(
    #00000080,
    #00000040,
    #00000030,
    #00000020,
    #00000010,
    #00000010,
    #00000080
  );

  --callout-rgb: 238, 240, 241;
  --callout-border-rgb: 172, 175, 176;
  --card-rgb: 180, 185, 188;
  --card-border-rgb: 131, 134, 135;

  --border-radius-small: 3px;
  --border-radius-large: 10rem;

  --color-red: #e00022;
  --color-blue: #3066be;
  --color-light-green: #c6dcbc;
  --color-white-green: #f0f7ee;
  --color-white: #fff;
  --color-dark-green: #101e0b;
  --color-black: #000;

  --color-green: #26f77d;
  --color-orange: #d5573b;
  --color-mauve: #715b64;
  --color-purple: #69385c;
  --color-dark-purple: #361d2e;
  --color-brown: #674c47;

  --color-primary: var(--color-red);

  --color-background: var(--color-dark-green);
  --color-background-alt: var(--color-black);
  --color-foreground: var(--color-white);
  --color-foreground-alt: var(--color-light-green);
  --color-foreground-disabled: var(--color-mauve);
  --color-border: var(--color-black);

  --color-button-background: var(--color-mauve);
  --button-border-radius: var(--border-radius-large);

  --color-input-background: var(--color-brown);
  --input-border-radius: var(--border-radius-small);

  --color-card-background: var(--color-dark-purple);
  --card-border-radius: var(--border-radius-small);

  --font-header: "VT323", serif;
  --font-button: "Cutive Mono", monospace;
  --font-size-button: 1.25rem;
  --font-body: "Montserrat", sans-serif;
}

@media (prefers-color-scheme: light) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;

    --primary-glow: radial-gradient(rgba(1, 65, 255, 0.4), rgba(1, 65, 255, 0));
    --secondary-glow: linear-gradient(
      to bottom right,
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0.3)
    );

    --tile-start-rgb: 2, 13, 46;
    --tile-end-rgb: 2, 5, 19;
    --tile-border: conic-gradient(
      #ffffff80,
      #ffffff40,
      #ffffff30,
      #ffffff20,
      #ffffff10,
      #ffffff10,
      #ffffff80
    );

    --callout-rgb: 20, 20, 20;
    --callout-border-rgb: 108, 108, 108;
    --card-rgb: 100, 100, 100;
    --card-border-rgb: 200, 200, 200;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  display: flex;
  justify-content: center;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  flex: 1 0 100%;
  max-width: 650px;
  min-height: 100vh;
  padding: 1rem 2rem;
  color: var(--color-foreground);
  background: var(--color-background);
  font-family: var(--font-body);
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  /* color: var(--color-blue); */
  font-family: var(--font-header);
  text-transform: uppercase;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

button {
  font-family: var(--font-button);
  font-size: var(--font-size-button);
  cursor: pointer;
  padding: 0.5rem 1rem;
  border-radius: var(--button-border-radius);
  border: 0;
  background: var(--color-button-background);
  /* border: 1px solid var(--color-border); */
}

input {
  border: 0;
  padding: 0.5rem 1rem;
  border-radius: var(--input-border-radius);
  background: var(--color-input-background);
  border: 1px solid var(--color-border);
}

.card {
  background: var(--color-card-background);
  border-radius: var(--card-border-radius);
  border: 2px solid var(--color-border);
}
