.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: 3rem;
}

.nav {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 1rem;
}

.nav a {
  font-family: var(--font-button);
  font-size: var(--font-size-button);
  display: block;
  text-align: center;
  text-decoration: none;
  border-radius: var(--border-radius-small);
  background: var(--color-background-alt);
  color: var(--color-foreground);
  padding: 1rem;
}

.nav a:hover {
  background: var(--color-button-background);
}
