.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1rem;
  min-height: 100%;
}

.content {
  flex: 1 0 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
}

.cta {
  background-color: var(--color-primary);
}

.buttonLink {
  font-family: var(--font-button);
  font-size: var(--font-size-button);
  display: block;
  text-align: center;
  text-decoration: none;
  border-radius: var(--border-radius-small);
  background: var(--color-background-alt);
  color: var(--color-foreground);
  padding: 1rem;
}

.buttonLink:hover {
  background: var(--color-button-background);
}
